<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      {% for entry in data %}
      <li>
        <h1>{{ entry['title'] }}</h1>
        <p>excerpt</p>
        <img src="{{ entry['thumbnail'] }}" alt="" style="width: 100px" />
        <a href="{{ entry['href'] }}">{{ entry['href'] }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
